.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    .title {
      font-size: 5rem; 
    }
    .ranNum {
      font-size: 2rem;
      background: rgb(243, 243, 243);
      padding: 1rem;
      border-radius: .75rem;
      box-shadow: 0px 0px 20px 0px rgb(201, 201, 201);
      margin-bottom: 1rem;
    }
    .getNewButton {
      font-size: 2rem;
      background: rgb(243, 243, 243);
      padding: 1rem;
      border-radius: .75rem;
      box-shadow: 0px 0px 20px 0px rgb(201, 201, 201);
      margin-bottom: 1rem;
      border: none;
    }
    .getNewButton:hover {
      cursor: pointer;
    }
  }
}
